@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap');

body {
  background: #ddeefc;
  // font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.wrapper {
  width: 570px;
}

.cardForm {
  background-color: #fff;
  width: 100%;
  padding: 180px 30px 20px 30px;
  border-radius: 10px;
  position: relative;

  select,
  input {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: 'Source Sans Pro', sans-serif;

    &:hover,
    &:focus {
      border-color: #3d9cff;
    }

    &:focus {
      box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
    }
  }

  label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #1a3b5d;
    width: 100%;
    display: block;
    user-select: none;
  }
  &_cvv {
    width: 150px;
  }

  &_cardData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    select {
      width: 150px;
      margin-right: 20px;
    }
  }

  button {
    width: 100%;
    background: #2364d2;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }
}

.cardImage {
  width: 100%;
  max-width: 430px;
  height: 270px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #1144aa;
  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
  background: url('images/6.jpeg');
  background-position: center;
  margin-bottom: -130px;
  z-index: 5;
  position: relative;

  &_side {
    overflow: hidden;
    height: 100%;
    &_front {
      height: 100%;
      display: none;
    }
    &_back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
      z-index: 2;
      padding: 0;
      height: 100%;
    }
  }
  &_wrapper {
    font-family: 'Source Code Pro', monospace;
    padding: 25px 15px;
    height: 100%;
    text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 10px;

    &_chip {
      img {
        max-width: 60px;
      }
    }

    &_cardType {
      height: 45px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      max-width: 100px;
      margin-left: auto;
      width: 100%;
    }
  }

  &_middle {
    font-weight: 500;
    line-height: 1;
    color: #fff;
    font-size: 27px;
    margin-bottom: 35px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0 15px 10px 15px;
    font-weight: 500;
    cursor: pointer;

    .card-bottom-text {
      display: block;
      opacity: 0.7;
      font-size: 13px;
      margin-bottom: 6px;
    }

    &_name {
      font-size: 18px;
      line-height: 1;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
    }
  }

  &_band {
    background: rgba(0, 0, 19, 0.8);
    width: 100%;
    height: 50px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
  }

  &_back_cvv {
    text-align: right;
    position: relative;
    z-index: 2;
    padding: 15px;

    .cvv_back_title {
      padding-right: 10px;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      margin-bottom: 5px;
    }

    .cvv_band {
      height: 45px;
      background: #fff;
      margin-bottom: 30px;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
      color: #1a3b5d;
      font-size: 18px;
      border-radius: 4px;
      box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);
    }
  }
  &_back_type {
    opacity: 0.7;
  }
}
